@model Aeriksa.Data.login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-group">
                        @Html.LabelFor(model => model.userid, "UserId", htmlAttributes: new { @class = "control-label col-xs-4 required" })
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.userid, new { htmlAttributes = new { @class = "form-control col-xs-8", @placeholder = "Enter Site Name" } })
                            @Html.ValidationMessageFor(model => model.userid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-xs-4 required" })
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control col-xs-8", @placeholder = "Enter Address Line 1" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
